/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/*General Layout*/

.submit-div {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 2rem;
}
/* Buttons */
button {
  border: 2px solid #0c0;
  border-radius: 3px;
  background-color: #222;
  color: #0c0;
  font-size: 1rem;
  line-height: 1.5;
  padding: 0.6rem 1rem 0.4rem;
  margin-top: 2rem;
  @include tablet {
    font-size: 1.25rem;
  }
  @include desktop {
    font-size: 1.25rem;
    justify-self: center;
  }

  &:hover {
    border-color: #090;
    color: #090;
  }

  &:active,
  &:focus {
    border-color: #aaa #bbb #bbb;
  }
}
input[type='button'],
input[type='reset'],
input[type='submit'] {
  border: 2px solid #0c0;
  border-radius: 3px;
  background-color: #222;
  color: #0c0;
  font-size: 1rem;
  line-height: 1.5;
  padding: 0.6rem 1rem 0.4rem;
  margin-top: 2rem;
  @include tablet {
    font-size: 1.25rem;
  }
  @include desktop {
    font-size: 1.25rem;
    justify-self: center;
  }

  &:hover {
    border-color: #090;
    color: #090;
  }
}

/* Fields */

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
textarea {
  color: #fff;
  border: 2px solid #0c0;
  border-radius: 3px;
  background-color: #222;
  padding: 7px;
  width: 100%;

  &:focus {
    color: #fff;
    border-color: #fff;
  }
}

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'] {
}

textarea {
  padding-left: 3px;
  width: 100%;
}
