/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
  color: $color__link;

  &:visited {
    color: $color__link-visited;
  }
  &:hover,
  &:focus,
  &:active {
    color: $color__link-hover;
  }
}

/* Menus */

.main-navigation {
  display: flex;

  ul {
    display: block;
    list-style: none;
    margin: 0;
    padding-left: 0;
    display: flex;
  }
  li {
    margin-right: 1rem;
    padding-right: 1rem;
    border-right: 1px solid #fff;
    line-height: 1.25rem;
  }
}

/* Small menu. */
// .menu-toggle,
// .main-navigation.toggled ul {
//   display: block;
// }
.menu-toggle {
  display: none;
}

// .comment-navigation,
// .posts-navigation,
// .post-navigation {
//   .site-main & {
//     margin: 0 0 $base__space-unit;
//     overflow: hidden;
//   }

//   .nav-previous {
//     float: left;
//     width: 50%;
//   }

//   .nav-next {
//     float: right;
//     text-align: right;
//     width: 50%;
//   }
// }

/*Pagination Nav*/
.number-pagination {
  font-weight: $font__weight;
  padding-top: 2rem;
  a,
  span {
    margin-right: 0.5rem;
  }
}
